<div class="floating-chat">
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="chat">
        <div class="chat-box-header">
            {{name_of_the_bot}}
            <span class="chat-box-toggle"><button>
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>   </span>
          </div>
        <ul class="messages">
            <li class="self">Hi! How can I help you?</li>
        </ul>
        <div class="chat-input">      
            <div placeholder="Send a message..." class="text-box" contenteditable="true" disabled="true" id="chat-input" placeholder="Send a message..."></div>
            <button id="sendMessage" type="submit" class="chat-submit"><i class="material-icons" style="color: #5a5eb9;">send</i></button>
        </div>
    </div>
</div>